/* ===========================================================
   FORM
=========================================================== */

input,
textarea,
select{

width:100%;

padding:18px;

border:1px solid var(--border);

background:var(--bg-light);

color:white;

border-radius:15px;

font-size:1rem;

margin-bottom:20px;

}

input:focus,
textarea:focus,
select:focus{

outline:none;

border-color:var(--primary);

}
