:root {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3rem;
  --font-size-display: 4rem;

  --line-height-body: 1.6;
  --line-height-heading: 1.2;
}
